body{
    font-family: "Roboto";
    border: none;
    
}
*{
    margin:	0% 0% 0% 0%;
    padding: 0;
    }

.namesurnamebox{
    padding-top: 3%;
    padding-bottom: 7%;
    padding-left: 3%;
    background-color: #313c4e;
}

.namesurname{
    width: 70%;
    float: left;
    margin-left: 15px;
    font-size: 14;
    color: white;
}

.namesurname h1 , .namesurname h2{
    margin-left: 20%;
}

.profile-image{
    width: 20%;
    float: left;
}

.contact-space{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background: #222a33;
    color: white;
    font-size: 24;    
    text-align: center;
}

.contact{
    align-items: center;
    display: inline;
    justify-content: space-around;
}

.link:hover , .link:active , .link{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}



.float-container {
   text-align: left;
}

.float-child-left {
    padding: 2%;
    width: 45%;
    float: left;
    font-size: 34;
}  
.float-child-right {
    padding: 2%;
    width: 45%;
    float: left;
    font-size: 34;
}  
.title{
    font-size: 30;
    font-weight: bold;
    color: #449399;
}

h2{
    font-size: 25;
}

h3{
    font-size: 20;
}

h4{
    font-size: 18;
}

h5{
    font-size: 15;
}

h6{
    font-size: 13;
}




